.article {
  width: 100%;
  font-family: "Roboto", sans-serif;

  &__date {
    color: gray;
    font-size: 15px;
    margin: 15px 0;
  }

  &__img {
    width: 100%;
  }

  &__title {
    padding: 15px 0;
  }

  @media (min-width: 768px) and (max-width: 1199px) {
    width: calc(50% - 15px);
    font-family: "Roboto", sans-serif;
  }

  @media (min-width: 1200px) {
    width: 20%;
    font-family: "Roboto", sans-serif;
  }
}
